{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Index des Modèles</h1>

    <table class="table table-dark table-hover table-striped mt-3">
        <thead>
            <tr>
                <th>
                    {{
                        knp_pagination_sortable(
                            models,
                            'Nom',
                            'model.name'
                        )|raw
                    }}
                </th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.name }}</td>
                <td>{{ model.description }}</td>
                <td>
                    <a href="{{ path('app_admin_model_show', {'id': model.id}) }}">
                        <i class="fas fa-magnifying-glass"></i>
                    </a>
                    <a href="{{ path('app_admin_model_edit', {'id': model.id}) }}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(models) }}
    </div>

    <a href="{{ path('app_admin_model_new') }}">Ajouter un nouveau modèle</a>
{% endblock %}
